<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'cart-drawer.css' | asset_url | stylesheet_tag }}

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {{ content_for_header }}
</head>

<body>
  {% section 'header' %}

  {{ content_for_layout }}

  {% section 'footer' %}
  
  {% render 'cart-drawer' %}
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
